{# templates/blog/category.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div> 
{% for article in articles %}
    <p>{{ article.id }}</p>
    <p>{{ article.title }}</p>
    <p>{{ article.content }}</p>


    {% for tag in article.tag %}
    <p> {{ tag.name }}  
    {% endfor %}

  
{% endfor %}
</div>

<a href="{{ path('app_index') }}">
    Back to homepage.
</a>

{% endblock %