{# templates/blog/category.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div> 
{% for article in articles %}
    <p>{{ article.id }}</p>
    <p>{{ article.title }}</p>
    <p>{{ article.content }}</p>
    <p>{{ article.<ul>
        {% for tag in craft.tags.group("tagGroupHandle").all() %}
            <li>{{ tag }}</li>
        {% endfor %}
    </ul>
    }}</p>
        {% endfor %}
    </ul>
     }}</p>

{% endfor %}
</div>

<a href="{{ path('app_index') }}">
    Back to homepage.
</a>

{% endblock %}