{% extends 'base.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div> 
{% for article in articles %}
    <p>Les articles du Tag : {{tag.name}} : {{ article.id }}</p>
    <p>{{ article.title }}</p>
    <p>{{ article.content }}</p>

  
{% endfor %}
</div>

<a href="{{ path('app_index') }}">
    Back to homepage.
</a>

{% endblock %}

